.container-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh;  */
    text-align: center; 
  }
.name-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.ul-list {
    border-style: solid;
    width: 100%;
    border-color: black;
    margin: 5px;
    /* padding: 0px; */
    padding-inline-start: 0px;
}